.feature {
    display: flex;
    flex-direction: row;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
}

.headshot {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.staffName {
    font-weight: bold;
}

.linkedInIcon {
    color: black;
    margin-right: 10px;
    position: absolute;
    bottom: 5px;
    left: 6px;
}

.linkedInIconText {
    color: black;
    position: absolute;
    bottom: 5px;
    left: 30px;
    text-decoration: underline;
}

.cardBacking {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0px 0px 25px 0px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    max-width: 480px;
    filter: drop-shadow(0 -6mm 4mm rgb(228, 228, 228));
}

.cardBacking p {
    font-size: 14px;
}

.teamCardText {
    padding: 20px;
}

.topRow {
    display: flex;
    flex-direction: row;
    margin-top: 25;
}

@media only screen and (max-width: 600px) {
    .topRow {
        flex-direction: column;
    }
    .feature {
        flex-direction: column;
        align-items: flex-start;
    }
    .feature p {
        margin-top: 10px;
    }
    .previewImage {
        display: none;
    }
}