.feature {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(180, 180, 180); 
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.headshot {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.staffName {
    font-weight: bold;
}

.linkedInIcon {
    color: black;
    margin-right: 10px;
    position: absolute;
    bottom: 5px;
    left: 6px;
}

.linkedInIconText {
    color: black;
    position: absolute;
    bottom: 5px;
    left: 30px;
    text-decoration: underline;
}

.cardBacking {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0px 0px 25px 0px;
    margin: 0 10px;
    position: relative;
}

.teamCardText {
    padding: 20px;
}

.topRow {
    display: flex;
    flex-direction: row;
    margin-top: 25;
}

@media only screen and (max-width: 600px) {
    .topRow {
        flex-direction: column;
    }
}