.container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding: 40px;
    background-color: #f5f5f5;
    padding-top: 80px;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.orderContainer {
    padding: 20px 0;
}

.OrderWrapper {
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
    color: black;
}

.navLink {
    color: black;
}

.navLink:hover {
    color: black;
}

.orderRow {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

@media only screen and (max-width: 800px) { 
    .orderRow {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.pill {
    margin: 10px 0;
    margin-right: 3px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #294b80;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.btnSuccess {
    background-color: rgb(33, 60, 132);
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 2em;
    text-decoration: none;
    margin-top: 10px;
}

.btnSuccess:hover {
    background-color: rgb(33, 60, 132);
    color: white;
}

.btnPrimary {
    display: flex;
    background-color: rgb(33, 60, 132);
    border-radius: 8px;
    outline: none;
    border: 0;
    padding: 12px 16px;
    min-width: 150px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.btnPrimary:hover, .btnPrimary:active {
    color: white;
    background-color: rgb(33, 60, 132);
}