body {
    overflow-x: hidden;
}
.navbar {
    background-color: #102D5D;
}
.navbar .container-fluid {
    max-width: 1200px;
    padding: 10px;
}
.FooterWrapper {
    width: 100vw;
}
.footer {
    background-color: #071429;
    max-width: 100vw;
}
.footer-content {
    color: #eeeeee;
}
.footer-links a {
    color: #eeeeee;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer-content, .footer-links, .footer-social {
    padding: 30px 10px;
}
.footer-social a {
    color: #eeeeee;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}