body {
    overflow-x: hidden;
}
.navbar {
    background-color: #102D5D;
}
.navbar .container-fluid {
    max-width: 1200px;
    padding: 10px;
}
.navbar .nav-link {
    font-size: 18px;
    font-weight: bold;
}
.FooterWrapper {
    width: 100vw;
}
.footer {
    background-color: #071429;
    max-width: 100vw;
}
.footer-content {
    color: #eeeeee;
}
.footer-links a {
    color: #eeeeee;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-links a:hover {
    text-decoration: underline;
}
.footer-content, .footer-links, .footer-social {
    padding: 30px 10px;
}
.footer-social a {
    color: #eeeeee;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}
svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}
circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}
@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}
   
@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
   
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
   
    100% {
        stroke-dashoffset: -125px;
    }
}