.outer {
    background-color: #102D5D;
    color: white;
    padding: 50px 10px;
}
.outer .container {
    padding: 0px 10px;
    max-width: 1200px;
}
.h1 {
    font-size: 50px;
    font-weight: bold;
}
.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    border-radius: 8px;
    max-width: 400px;
    font-size: 18px;
    padding: 10px 16px;
}
.btn {
    background-color: #3D898B;
    border-radius: 8px;
    outline: none;
    border: 0;
    padding: 10px 16px;
    min-width: 150px;
    color: white;
}
.btn:hover {
    background-color: #1a6a6c;
}
@media only screen and (max-width: 1000px) {
    .h1 {
        font-size: 30px;
    }
    .input, .btn {
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .input {
        padding: 5px 10px;
        font-size: 16px;
    }
    .btn {
        padding: 5px 10px;
        font-size: 20px;
        min-width: 50px;
    }
    .btn .text {
        display: none;
    }
    .illustration {
        display: none;
    }
}