.outer {
    width: 100vw;
    background: rgb(14, 42, 86);
    background-image: url("/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

.outer .container {
    width: 100vw;
    padding: 0 20px;
    padding-top: 140px;
    padding-bottom: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: linear-gradient(rgba(14, 42, 86, 0.7), rgb(14, 42, 86));
}

@media only screen and (max-width: 600px) {
    .outer {
        background-size: cover;
    }

    .outer .container {
        padding-top: 150px;
        padding-bottom: 100px;
        padding: 0;
    }
}

.h1 {
    font-size: 55px;
    font-weight: bold;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 50px 20px;
}

.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    margin: 40px 0;
    padding: 10px 18px;
}

.icon {
    font-size: 24px;
    padding-right: 20px;
    color: black;
}

.input {
    flex: 1;
    font-size: 18px;
    border: 0;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .searchBox {
        padding: 0px 18px;
    }
}

.btn {
    display: flex;
    background-color: rgb(33, 60, 132);
    border-radius: 8px;
    outline: none;
    border: 0;
    padding: 12px 16px;
    min-width: 150px;
    color: white;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgb(33, 60, 132);
}

@media only screen and (max-width: 1000px) {
    .h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .input {
        padding: 5px 10px;
        font-size: 16px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 20px;
        min-width: 50px;
    }

    .btn .text {
        display: none;
    }
}

.partners .lower {
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

.partners .img {
    width: 150px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .alignCenter {
        padding: 10px;
    }

    .input {
        border-radius: 10px;
        margin: 20px 0;
    }

    .partners {
        background-color: rgb(14, 42, 86);
    }

    .partners .lower {
        margin-top: 0;
    }
}

.card {
    display: block;
    padding: 20px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}

.card h3 {
    font-size: 24px;
}

.greyComponent {
    color: grey;
    /* Set the default text color to grey */
}

.card:hover .componentWrapper {
    color: #0052d7;
    /* Add any additional hover styles */
}

/* media query that removes the bar if on a mobile device */
@media only screen and (max-width: 575px) {
    .separationBar::before {
        display: none;
    }

    .responsiveCard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card h3 {
        font-size: 18px;
    }
}

.cardImage {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
}

.cardDescription {
    display: flex;
    position: absolute;
    gap: .25em;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #212121;
    height: 50%;
    bottom: 0;
    border-radius: 12px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}

.textTitle {
    font-size: 1.3rem;
    font-weight: 700;
}

.textBody {
    font-size: 1rem;
    line-height: 130%;
}

.card:hover .cardDescription {
    transform: translateY(100%);
}

.inner .navlink {
    color: black;
    border-radius: 0;
}

.inner .active {
    background-color: rgb(20, 50, 130);
    color: white;
}

.listingRow {
    display: flex;
    flex-direction: row;
}

.demo h1 {
    font-size: 35px;
    font-weight: normal;
    text-align: right;
    color: rgba(20, 50, 130, 1);
}

.player {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem rgb(234, 234, 234));
}

.player:hover {
    outline: 2px solid rgb(20, 50, 130);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        display: block;
        margin: 5px auto;
    }

    .listingRow {
        flex-direction: column;
    }

    .row2 {
        display: none;
    }

    .demo {
        display: none;
    }
}

.reviewRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
}

.reviewCard {
    background-color: white;
    padding: 34px;
    border-radius: 6px;
    border: 1px solid black;
    max-width: 350px;
    margin: 10px;
    height: auto;
}

.reviewCard i {
    margin-left: 3px;
}

.contactRow {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.formWrapper {
    flex: 1;
    padding: 20px;
    background-color: white;
    filter: drop-shadow(0 0 0.5rem rgb(234, 234, 234));
    border-radius: 8px;
}

.formWrapper textarea {
    resize: none;
}

.btn {
    display: flex;
    background-color: rgb(33, 60, 132);
    border-radius: 6px;
    outline: none;
    border: 0;
    padding: 12px 16px;
    min-width: 150px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(23, 41, 92);
    color: white;
}

.heading {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .heading {
        text-align: left;
        padding: 10px;
    }

    .contactRow {
        flex-direction: column;
    }

    .links {
        display: none;
    }
}

.dropDownMenuIconPadding i {
    padding-right: 10px;
}